._*
.AppleDB
.AppleDesktop
.AppleDouble
.apdisk
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

*.DS_Store
*.log

Network Trash Folder
Icon
Temporary Items

.claude
Brewfile.lock.json
__pycache__/
*.pyc

# Ignore local user config
config/git/users
