[submodule "local/share/tmux/plugins/resurrect"]
	path = local/share/tmux/plugins/resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "local/share/tmux/plugins/continuum"]
	path = local/share/tmux/plugins/continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
