[submodule "config/tmux/plugins/extrakto"]
	path = local/share/tmux/plugins/extrakto
	url = https://github.com/laktak/extrakto/
[submodule "config/tmux/plugins/better-mouse"]
	path = local/share/tmux/plugins/better-mouse
	url = https://github.com/nhdaly/tmux-better-mouse-mode/
[submodule "local/share/tmux/plugins/resurrect"]
	path = local/share/tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "local/share/tmux/plugins/continuum"]
	path = local/share/tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "local/share/tmux/plugins/fingers"]
	path = local/share/tmux/plugins/fingers
	url = https://github.com/Morantron/tmux-fingers
