---
# PLUGINS
# ==========================================
# Startup
# -------
# Dark powered Vim/Neovim plugin manager
- repo: Shougo/dein.vim

# Solarized Theme
- repo: lifepillar/vim-solarized8

# Status bar
# Lean & mean status/tabline for vim that's light as air
- repo: vim-airline/vim-airline
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-airline.vim

- repo: vim-airline/vim-airline-themes
  depends: vim-airline

# Heuristically set options based on editorconfig
- repo: sgur/vim-editorconfig

# Heuristically set buffer indent options
- repo: tpope/vim-sleuth

# A Git wrapper so awesome, it should be illegal, lol.
- repo: tpope/vim-fugitive

# Session States
- repo: tpope/vim-obsession
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-obsession.vim

- repo: dhruvasagar/vim-prosession
  depends: vim-obsession

# Efficient alternative to the standard matchparen plugin
- repo: itchyny/vim-parenmatch

# Make scrolling in Vim more pleasant
- repo: cskeeters/vim-smooth-scroll

# Seamless navigation between tmux panes and vim split
- repo: christoomey/vim-tmux-navigator

# Terminus enhances Vim's and Neovim's integration with the terminal
# cursor shape, mouse support, focus reporting, bracketed paste
- repo: wincent/terminus

# Disable hlsearch when done.
- repo: romainl/vim-cool

# QuickFix / Loclist Improvements
- repo: romainl/vim-qf

# Underlines word under cursor
- repo: itchyny/vim-cursorword
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-cursorword.vim

# Asynchronous linting/fixing for Vim
- repo: w0rp/ale
  hook_add: source $VIM_PATH/config/plugins-hooks/add/ale.vim

# Vim Language Pack
- repo: sheerun/vim-polyglot
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-polyglot.vim

# Fades your inactive buffers and preserves syntax highlighting
- repo: TaDaa/vimade


# Lazy Loading
# ==========================================
# Syntax
# Only use plugins manually if they are not included with vim-polyglot or
# vim-polyglot does not load functionality we want.
# In the case of the latter remember to update the polyglot_disabled config
# value
# ---------
# CSS
- repo: hail2u/vim-css3-syntax

# Go
- repo: fatih/vim-go
  on_ft:
   - go
   - gotexttmpl
   - gohtmltmpl
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-go.vim
  hook_source: source $VIM_PATH/config/plugins-hooks/source/vim-go.vim

# HTML & Jinja
- repo: mitsuhiko/vim-jinja
  on_ft:
   - htmljinja
   - jinja

# JavaScript: Generate JSDoc to your code
- repo: heavenshell/vim-jsdoc
  on_ft:
   - javascript
   - javascript.jsx
   - jsx
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-jsdoc.vim

# Markdown
- repo: plasticboy/vim-markdown
  on_ft: markdown
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-markdown.vim

# Markdown: GitHub Flavored syntax highlight
- repo: rhysd/vim-gfm-syntax
  depends: vim-markdown
  on_ft: markdown
  hook_source: source $VIM_PATH/config/plugins-hooks/source/vim-gfm-syntax.vim

# Python: requirements file format
- repo: raimon49/requirements.txt.vim
  on_ft: requirements

# Salt
- repo: saltstack/salt-vim

# Tmux
- repo: ericpruitt/tmux.vim

# Vim
- repo: vim-jp/syntax-vim-ex
  on_ft: vim


# ==========================================
# Commands
# --------
# Utility comamnds of dein.vim with rich completion.
- repo: haya14busa/dein-command.vim
  on_cmd: Dein

# suda is a plugin to read or write files with sudo command.
- repo: lambdalisue/suda.vim
  on_event: BufRead
  on_path: 'suda://'
  hook_add: let g:suda_smart_edit = 1

# Code commenting helper
# - repo: tpope/vim-commentary
#   on_map: <Plug>Commentary
#   hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-commentary.vim

- repo: tyru/caw.vim
  on_map:
   nx: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/caw.vim

# Displays available keybindings in popup
- repo: liuchengxu/vim-which-key
  on_cmd: WhichKey

# Auto mkdir if needed on save.
- repo: benizi/vim-automkdir
  on_command: write

# Move to root of project working directory.
- repo: airblade/vim-rooter
  on_command: Rooter

# Choose window to use, like tmux's 'display-pane'
- repo: t9md/vim-choosewin
  on_map:
   n: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-choosewin.vim

# Make blockwise Visual mode more useful
- repo: kana/vim-niceblock
  on_map:
   x: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-niceblock.vim

# Ultimate undo history visualizer
- repo: mbbill/undotree
  on_cmd: UndotreeToggle
  hook_add: source $VIM_PATH/config/plugins-hooks/add/undotree.vim

# Uncover usage problems in your writing
- repo: reedes/vim-wordy
  on_cmd:
   - Wordy
   - NextWordy
   - PrevWordy

# Display vim version numbers in docs
- repo: tweekmonster/helpful.vim
  on_cmd: HelpfulVersion

# Multi-language thesaurus query and replacement
- repo: Ron89/thesaurus_query.vim
  on_cmd:
   - ThesaurusQueryReplaceCurrentWord
   - ThesaurusQueryLookupCurrentWord
   - Thesaurus
  hook_add: |
   let g:tq_map_keys = 0
   let g:tq_use_vim_autocomplete = 0

# Improve diff feature in Vim
- repo: lambdalisue/vim-improve-diff
  on_event:
   - InsertLeave
   - BufWinLeave
  on_cmd: DiffOrig

# View and search LSP symbols, tags
- repo: liuchengxu/vista.vim
  on_cmd: Vista
  hook_source: |
    let g:vista#renderer#enable_icon = 1
    let g:vista_echo_cursor_strategy = 'scroll'

# ==========================================
# Interface
# ---------
# Preview colors in source-code while editing
- repo: RRethy/vim-hexokinase
  build: make hexokinase
  on_ft: [css, scss, sass, stylus, vim]
  hook_add: |
    let g:Hexokinase_ftAutoload = ['css', 'scss', 'sass', 'stylus']

# Improved * motions
- repo: haya14busa/vim-asterisk
  on_map:
   nv: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-asterisk.vim

# Up/down movement acceleration
- repo: rhysd/accelerated-jk
  on_map:
   n: <Plug>
  if: $SUDO_USER == ''
  hook_add: source $VIM_PATH/config/plugins-hooks/add/accelerated-jk.vim

# Jump to the edge of block
- repo: haya14busa/vim-edgemotion
  on_map:
   nv: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-edgemotion.vim

# Quickly highlight words
- repo: t9md/vim-quickhl
  on_map:
   nv: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-quickhl.vim

# Show git changes at Vim gutter and un/stages hunks
- repo: airblade/vim-gitgutter
  on_path: .*
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-gitgutter.vim
  hook_source: source $VIM_PATH/config/plugins-hooks/source/vim-gitgutter.vim

# Bookmarks, works independently from vim marks
- repo: kshenoy/vim-signature
  depends: vim-gitgutter
  on_path: .*
  hook_add: |
    let g:SignatureForceRemoveGlobal = 0
    let g:SignatureUnconditionallyRecycleMarks = 1
    let g:SignatureErrorIfNoAvailableMarks = 0
    let g:SignaturePurgeConfirmation = 0
    let g:SignatureMarkTextHLDynamic = 1
    let g:SignatureMarkerTextHLDynamic = 1
    let g:SignatureIncludeMarks = 'abcdefgABCDEFG'
    let g:SignatureIncludeMarkers = repeat('⚐', 10)
    autocmd user_events User GitGutter call signature#sign#Refresh()
  hook_source: |
    let g:SignatureMap = {
      \ 'Leader':            'm',
      \ 'ListBufferMarks':   'm/',
      \ 'ListBufferMarkers': 'm?',
      \ 'PlaceNextMark':     'm,',
      \ 'ToggleMarkAtLine':  'mm',
      \ 'PurgeMarksAtLine':  'm-',
      \ 'DeleteMark':        'dm',
      \ 'PurgeMarks':        'm<Space>',
      \ 'PurgeMarkers':      'm<BS>',
      \ 'GotoNextLineAlpha': "']",
      \ 'GotoPrevLineAlpha': "'[",
      \ 'GotoNextSpotAlpha': '`]',
      \ 'GotoPrevSpotAlpha': '`[',
      \ 'GotoNextLineByPos': "]'",
      \ 'GotoPrevLineByPos': "['",
      \ 'GotoNextSpotByPos': 'mn',
      \ 'GotoPrevSpotByPos': 'mp',
      \ 'GotoNextMarker':    ']-',
      \ 'GotoPrevMarker':    '[-',
      \ 'GotoNextMarkerAny': 'mj',
      \ 'GotoPrevMarkerAny': 'mk',
      \ }

# Indents
- repo: nathanaelkane/vim-indent-guides
  on_cmd:
   - IndentGuidesEnable
   - IndentGuidesDisable
   - IndentGuidesToggle
  hook_add: |
    let g:indent_guides_color_change_percent = 3
    let g:indent_guides_autocmds_enabled = 0
    let g:indent_guides_default_mapping = 0
    let g:indent_guides_guide_size = 1
    let g:indent_guides_indent_levels = 25
    let g:indent_exclude = ['help', 'denite', 'codi']
    augroup user_plugin_indentguides
      autocmd!
      autocmd BufEnter *
      \ if ! empty(&l:filetype) && index(g:indent_exclude, &l:filetype) == -1
      \|   if g:indent_guides_autocmds_enabled == 0 && &l:expandtab
      \|     IndentGuidesEnable
      \|   elseif g:indent_guides_autocmds_enabled == 1 && ! &l:expandtab
      \|     IndentGuidesDisable
      \|   endif
      \| endif
    augroup END
    if ! has('vim_starting')
      doautocmd <nomodeline> user_plugin_indentguides BufEnter
    endif
  hook_source: |
    nmap <silent><Leader>ti :<C-u>IndentGuidesToggle<CR>
  hook_post_source: |
    call indent_guides#init_script_vars()
    call indent_guides#highlight_colors()

# Pleasant editing on Git commit messages
- repo: rhysd/committia.vim
  on_path: COMMIT_EDITMSG
  hook_add: source $VIM_PATH/config/plugins-hooks/add/committia.vim
  hook_source: source $VIM_PATH/config/plugins-hooks/source/committia.vim

# Shows git diff between each commit and its parent commit below the commit
# list window of git rebase interactive.
- repo: hotwatermorning/auto-git-diff
  on_ft: gitrebase
  hook_add: source $VIM_PATH/config/plugins-hooks/add/auto-git-diff.vim

# Highlights the matching HTML tag when the cursor is positioned on a tag
- repo: gregsexton/MatchTag

# Distraction-free writing
- repo: junegunn/goyo.vim
  depends: limelight.vim
  on_cmd: Goyo
  hook_add: source $VIM_PATH/config/plugins-hooks/add/goyo.vim
  hook_source: source $VIM_PATH/config/plugins-hooks/source/goyo.vim

# Hyperfocus-writing
- repo: junegunn/limelight.vim
  on_cmd: Limelight


# ==========================================
# Snippets
# ----------
- repo: Shougo/neosnippet.vim
  depends:
   - neosnippet-snippets
  on_event: InsertCharPre
  on_ft: snippet
  hook_add: source $VIM_PATH/config/plugins-hooks/add/neosnippet.vim
  hook_source: source $VIM_PATH/config/plugins-hooks/source/neosnippet.vim

# Standard snippets repository for neosnippet
- repo: Shougo/neosnippet-snippets


# ==========================================
# Completion
# ----------
# Print objects' documentation in echo area
- repo: Shougo/echodoc.vim
  on_event: CompleteDone
  hook_post_source: source $VIM_PATH/config/plugins-hooks/post-source/echodoc.vim

# Pretty completion preview with neovim's floating win
- repo: ncm2/float-preview.nvim
  if: has('nvim') && exists('##CompleteChanged')
  on_event: InsertEnter
  hook_add: |
    let g:float_preview#docked = 0
    let g:float_preview#max_width = 80

# Vim plugin, provides insert mode auto-completion for quotes, parens, brackets,
- repo: Raimondi/delimitMate
  on_event: InsertEnter
  hook_source: |
    let g:delimitMate_expand_cr = 1
    let g:delimitMate_excluded_ft = 'html'

# Manages your tag files
- repo: ludovicchabant/vim-gutentags
  if: executable('ctags')
  on_path: .*
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-gutentags.vim

# Provides support for expanding abbreviations alá emmet
- repo: mattn/emmet-vim
  on_event:
   - autocmd
   - InsertEnter
  on_ft:
   - html
   - htmldjango
   - htmljinja
   - css
   - javascript
   - javascript.jsx
   - jsx
  hook_add: source $VIM_PATH/config/plugins-hooks/add/emmet-vim.vim
  hook_source: source $VIM_PATH/config/plugins-hooks/source/emmet-vim.vim

# CSS
- repo: othree/csscomplete.vim

# JavaScript
- repo: ternjs/tern_for_vim
  build: npm install
  if: executable('npm')
  on_event:
   - autocmd
   - InsertEnter
  on_ft:
   - javascript
   - javascript.jsx
   - jsx
  hook_add: source $VIM_PATH/config/plugins-hooks/add/tern-for-vim.vim
  hook_source: source $VIM_PATH/config/plugins-hooks/source/tern-for-vim.vim
  hook_post_source: source $VIM_PATH/config/plugins-hooks/post-source/tern-for-vim.vim

# Parameter Completion
- repo: othree/jspc.vim

# PHP
- repo: shawncplus/phpcomplete.vim
  on_ft: php
  on_event:
   - autocmd
   - InsertEnter

# Python
- repo: davidhalter/jedi-vim
  on_ft: python
  hook_add: source $VIM_PATH/config/plugins-hooks/add/jedi-vim.vim
  hook_source: source $VIM_PATH/config/plugins-hooks/source/jedi-vim.vim

# Ruby
- repo: vim-ruby/vim-ruby
  on_ft: ruby

# Terraform
- repo: juliosueiras/vim-terraform-completion
  on_ft: terraform
  on_event: InsertEnter
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-terraform-completion.vim


# Deoplete
# ------------------------------
# Dark powered asynchronous completion framework
- repo: Shougo/deoplete.nvim
  on_event: InsertEnter
  hook_source: source $VIM_PATH/config/plugins-hooks/source/deoplete.vim
  depends:
   - neco-syntax

# Syntax source for deoplete
- repo: Shougo/neco-syntax
  on_source: deoplete.nvim

# Include completion framework for deoplete
- repo: Shougo/neoinclude.vim
  on_source: deoplete.nvim

# Context Filetype Library for Vim Script
- repo: Shougo/context_filetype.vim

# Emoji
- repo: fszymanski/deoplete-emoji
  on_ft:
   - gitcommit
   - markdown
  on_event: InsertEnter

# Go
- repo: deoplete-plugins/deoplete-go
  build: make
  on_ft: go
  on_event:
   - autocmd
   - InsertEnter

# Haskell
- repo: eagletmt/neco-ghc
  on_ft: haskell
  on_event:
   - autocmd
   - InsertEnter

# Javascript
- repo: carlitux/deoplete-ternjs
  build: npm install -g tern
  if: executable('npm')
  on_ft:
   - javascript
   - javascript.jsx
   - jsx
  on_event:
   - autocmd
   - InsertEnter
  hook_source: source $VIM_PATH/config/plugins-hooks/source/deoplete-ternjs.vim

# Python
- repo: deoplete-plugins/deoplete-jedi
  on_ft: python
  on_event:
   - autocmd
   - InsertEnter
  hook_source: source $VIM_PATH/config/plugins-hooks/source/deoplete-jedi.vim

# Ruby
- repo: fishbullet/deoplete-ruby
  on_ft: ruby
  on_event:
   - autocmd
   - InsertEnter

# Tmux
- repo: wellle/tmux-complete.vim
  on_ft: tmux
  on_event:
   - autocmd
   - InsertEnter
  hook_add: source $VIM_PATH/config/plugins-hooks/add/tmux-complete.vim

# Vim
- repo: Shougo/neco-vim
  on_ft: vim
  on_event:
   - autocmd
   - InsertEnter

# ZSH
- repo: deoplete-plugins/deoplete-zsh
  on_ft: zsh
  on_event:
   - autocmd
   - InsertEnter


# ==========================================
# Denite
# ------
# Dark powered asynchronous unite all interfaces
- repo: Shougo/denite.nvim
  on_cmd: Denite
  trusted: 1
  hook_add: source $VIM_PATH/config/plugins-hooks/add/denite.vim
  hook_source: source $VIM_PATH/config/plugins-hooks/source/denite.vim

# Saves yank history
- repo: Shougo/neoyank.vim
  on_event: TextYankPost
  on_source: denite.nvim

# Denite location & quickfix lists
- repo: chemzqm/unite-location
  on_source: denite.nvim

# gitlog, gitstatus and gitchanged sources
- repo: chemzqm/denite-git
  on_source: denite.nvim

# Filter and browse Z (jump around) data file
- repo: rafi/vim-denite-z
  on_source: denite.nvim

# Browse and open sessions
- repo: rafi/vim-denite-session
  on_source: denite.nvim

# ==========================================
# Operators
# ---------
# Define your own custom operators
- repo: kana/vim-operator-user

# Operator to replace text with register content
- repo: kana/vim-operator-replace
  depends: vim-operator-user
  on_map:
   vnx: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-operator-replace.vim

# Search, select, and edit sandwich text objects
- repo: machakann/vim-sandwich
  depends: vim-operator-user
  on_map:
   - vonx: <Plug>(operator-sandwich-)
  hook_add: |
    let g:sandwich_no_default_key_mappings = 1
    let g:operator_sandwich_no_default_key_mappings = 1
    let g:textobj_sandwich_no_default_key_mappings = 1
  hook_source: source $VIM_PATH/config/plugins-hooks/source/vim-sandwich.vim

# Highlight yanked area
- repo: haya14busa/vim-operator-flashy
  depends: vim-operator-user
  on_map:
   nx: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-operator-flashy.vim


# ==========================================
# Text objects
# ------------
# Create your own text objects
- repo: kana/vim-textobj-user

# Handle bracket objects
- repo: osyo-manga/vim-textobj-multiblock
  depends: vim-textobj-user
  on_map:
   ox: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-textobj-multiblock.vim

# Text objects for functions
- repo: kana/vim-textobj-function
  depends: vim-textobj-user
  on_map:
   ox: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-textobj-function.vim

# Visually select increasingly larger regions of text
- repo: terryma/vim-expand-region
  on_map:
   x: <Plug>
  hook_add: source $VIM_PATH/config/plugins-hooks/add/vim-expand-region.vim

# Match function arguments
- repo: AndrewRadev/sideways.vim
  on_map:
   ox: <Plug>Sideways
  hook_add: source $VIM_PATH/config/plugins-hooks/add/sideways.vim

# Transition code between multi-line and single-line
- repo: AndrewRadev/splitjoin.vim
  on_map:
   n: <Plug>Splitjoin
  hook_add: source $VIM_PATH/config/plugins-hooks/add/splitjoin.vim

# Perform diffs on blocks of code
- repo: AndrewRadev/linediff.vim
  on_cmd: Linediff
  hook_add: source $VIM_PATH/config/plugins-hooks/add/linediff.vim

# Delete surrounding function call
- repo: AndrewRadev/dsf.vim
  on_map:
   n: <Plug>Dsf
  hook_add: source $VIM_PATH/config/plugins-hooks/add/dsf.vim
